<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mi.rssKoelbl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rss"
        android:label="@string/app_name"
        android:theme="@style/background">
        <service android:name="UpdateArticlesService"/>
        <receiver android:name="BootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver
		       android:label="@string/app_name"
		       android:name="WidgetProvider" >
		       <intent-filter >
		            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		       </intent-filter>
		
		       <meta-data
		          android:name="android.appwidget.provider"
		          android:resource="@xml/widget_info" />
		</receiver> 
        
        
        <provider android:authorities="contentProviderAuthorities"
            android:name=".ContentProviderDb"/>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="mi.rssKoelbl.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Add New Site Activity -->
        <activity android:name="mi.rssKoelbl.AddNewFeed"
            android:label="@string/add_feed"
        	android:parentActivityName="mi.rssKoelbl.MainActivity"  />
         
        <!-- List rss items Activity -->
        <activity android:name="mi.rssKoelbl.ArticleList"
            android:label="@string/article_list"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName="mi.rssKoelbl.MainActivity"/>
         
        <!-- Display website Activity -->
        <activity android:name="mi.rssKoelbl.DisplayWebsite"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName="mi.rssKoelbl.MainActivity" />
        
        <!-- Display settings Activity -->
        <activity android:name=".SetPreferenceActivity"
           android:label="@string/settings"
           android:parentActivityName="mi.rssKoelbl.MainActivity" />
        
        <activity android:name="mi.rssKoelbl.NotificationReceiverActivity"
           android:label=""
           android:parentActivityName="mi.rssKoelbl.MainActivity" />
    </application>

</manifest>
